[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/javacomplete"]
	path = .vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-android"]
	path = .vim/bundle/vim-android
	url = https://github.com/hsanson/vim-android.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-gradle"]
	path = .vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/play2vim"]
	path = .vim/bundle/play2vim
	url = https://github.com/gre/play2vim.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/sbt-vim"]
	path = .vim/bundle/sbt-vim
	url = git@github.com:ktvoelker/sbt-vim.git
[submodule ".vim/bundle/plantuml-syntax"]
	path = .vim/bundle/plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-jekyll"]
	path = .vim/bundle/vim-jekyll
	url = git@github.com:itspriddle/vim-jekyll.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vimple.vim"]
	path = .vim/bundle/vimple.vim
	url = https://github.com/dahu/vimple.git
[submodule ".vim/bundle/asif.vim"]
	path = .vim/bundle/asif.vim
	url = https://github.com/dahu/Asif.git
[submodule ".vim/bundle/SyntaxRange"]
	path = .vim/bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule ".vim/bundle/vim-asciidoc"]
	path = .vim/bundle/vim-asciidoc
	url = https://github.com/dahu/vim-asciidoc.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-template"]
	path = .vim/bundle/vim-template
	url = git://github.com/aperezdc/vim-template.git
